body{
    margin: 0;
    width: 100%;
}

/* Header */
header{
    background-image: url("banner.png");
    background-position: center;
    background-size: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px solid #2ecb70;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.cor-verde{
    color:#2ecb70;
}

.img-header{
    display: flex;
    justify-content: space-around;
    width: 50%; 
}

.img-header img{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    padding: 10px;
    /* transition=animação */
    transition: 1s;
}

.img-header img:hover{
    background-color: #2ecb70;
}
header .mao{
    display: none;
    align-self: flex-end;
    margin-left: 20px;
    height: 80%;
}

header .mao img{
    /* .mao=div img=imagem dentro da div */
    height: 100%;
}

.titulo > p:nth-child(1){
    font-family: "Pacifico";
    font-size: 4vw;
}

header p{
    /* quebra de linha */
    word-wrap: normal;
    width: 75%;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.titulo > p:nth-child(2){
    font-weight: bold;
}

.titulo{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main */

main{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

main div{
    padding: 40px;
}

.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone{
    background-color: #09c959;
    border-radius: 100%;
    width: 3px;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .img1 img{
    background-color: #09c959;
    border-radius: 100%;
} */

.text{
    font-weight: bold;
}

.imgm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Section (contato) */
.contato{
    background-color:lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}

.divc{
    display: flex;
    padding: 20px;
    /* flex-direction: column; */
    align-items: left;
    justify-content: end;
}




/* Section feedback */
.feedback{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.imgd{
    display: flex;
    align-items: center;
}

/* Footer */
footer{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:gray;
    padding: 30px;
}

/* Reespondividade */

@media(min-width: 576px){
    header{
        flex-direction:row;
    }
    
    .titulo{
        display: block;
    }
    
    header .mao{
        display: block;
    }
}

@media (min-width: 768){
    flex-direction{
        flex-direction: row;
        
        
        
    }
}

